body {
	background: darken($background, 4%);
	color: $color;
	font: {
		family: $font-sans;
		weight: 400;
		size: 62.5%; // 10
	} 
	line-height: 1;
}

#page {
	background: $background;
	font: {
		size: 1.4em; // 14
	}
	line-height: 1.5; // 21
}



h1 {
	font: {
		family: $font-sans-serif;
		size: 1.5em; // 21
	}
	text: {
		transform: uppercase;
	}
	line-height: 2; // 42
	
}

img {
	display: block;
	max-width: 100%;
}

a {
	color: darken($color, 20%);
	text-decoration: none;
	@include transition(all, 0.2s, ease-in-out);

	&:hover {
		color: $color;	
	}
}

p {
	margin: 0 0 1.5em;
}

i {
	font-style: italic;
}

figure {
	figcaption {
		font-style: italic;
		font-size: 0.85714285714286em; // 12
		line-height: 2.625; // 31.5
	}
	margin: 0 0 1.5em;
}

.broadcast {
	@extend %clearfix;

	aside {
		@include responsive(width-medium) {
			float: right;
			width: 46.428571428571%;
		}
		@include responsive(width-large) {
			width: 46,875%;
		}
	}
	.recommendations {
		@include responsive(width-medium) {
			float: left;
			width: 46.428571428571%;
		}
		@include responsive(width-large) {
			width: 46,875%;
		}
	}

	

	header {
		@extend %clearfix;
		margin: 0 0 1.5em;
		border-bottom: 1px dotted lighten($background, 10%);
		h1 {
			float: left;
		}

		a {
			float: right;
			line-height: 3;
			span {
				padding: 0 0 0 10px;
			}
		}
	}
}

.feature {
	@extend %clearfix;

	header {
		margin: 0 0 1.5em;
		border-bottom: 1px dotted lighten($background, 10%);
	}

	@include responsive(width-medium) {
		aside {
			float: right;
			width: 46.428571428571%;
		}
		.interview {
			float: left;
			width: 46.428571428571%;
		}
		
	}
}

.recommendations {
	background: darken($background, 2%);
	padding: 0 percentage(($column-width / 4) / $width-small) 0;
	li {
		padding: 1.5em 0;
		.title {
			border-bottom: 1px dotted lighten($background, 10%);
			padding: 0 0 0.75em;
			margin: 0 0 0.75em;
			font-family: $font-sans-serif;
		}
		a {
			span {
				padding: 0 0 0 10px;
			}
		}
	}
	.title, .description {
		display: block;
	}
}

.wrapper {
	padding: 0 percentage(($column-width / 4) / $width-small);
	max-width: $width-medium;
	margin: 0 auto;

	@extend %clearfix;

	@include responsive(width-small) {
		padding: 0 percentage(($column-width / 2) / $width-small);
	}
	@include responsive(width-medium) {
		padding: 0 percentage(($column-width / 2) / $width-medium);
	}
	@include responsive(width-large) {
		padding: 0;
	}
}

header[role="banner"] {
	background: darken($background, 3%);
	//border-bottom: 1px solid lighten($background, 5%);

	#logo {
		width: percentage((3 * $column-width) / $width-small);
		margin: 0 auto;
		height: 6em;

		a {
			display: block;
		}

		@include responsive(width-small) {
			width: percentage((3 * $column-width) / $width-medium);
		}
		@include responsive(width-medium) {
			float: left;
			width: percentage((2 * $column-width) / $width-large);
			height: 8em;
		}
		img {
			margin: 0 auto;
			max-width: 100%;
		}
	}

	nav[role="navigation"] {
		text-transform: uppercase;

		@include responsive(width-medium) {
			float: left;
			padding: 0 0 0 10px;
			@extend %clearfix;
		}
		ol {
			display: table;
			margin: 0 auto;

			li {
				display: inline-block;

				&.active {
					a {
						color: $color;
						text-decoration: underline;
					}
				}

				a {
					display: block;
					line-height: 4em;
					padding: 0 10px;

					@include responsive(width-medium) {
						line-height: 8em;
					}
				}
			}
		}
		
	}
}

#main {
	.wrapper {
		
	}
}

#content {
	padding: 3em 0;
}

footer[role="contentinfo"] {
	background: darken($background, 4%);
	//border-top: 1px solid lighten($background, 5%);
	text-align: center;
	padding: 3em 0;

	#logo-footer {
		margin: 0 auto;
		width: percentage(($column-width / 2) / $width-small);
		@include responsive(width-medium) {
			width: percentage(($column-width / 2) / $width-large);
		}
		img {
			margin: 0 auto;
			max-width: 100%;
			opacity: 0.5;
			@include transition(all, 0.2s, ease-in-out);
		}
		a:hover {
			img {
				opacity: 1;
			}
		}
	}

	p {
		line-height: 3;
	}
}